project_1.bit
project_1.bin
project_1.cache
project_1.gen
project_1.hw
project_1.ip_user_files
project_1.runs
project_1.sim
project_1.srcs
project_1.xpr
project_1.xsa

vivado*.log
vivado*.jou
vivado*.str
.Xil

_*.tcl
